/* =============================================================================
   App specific CSS file.

   This is usually where the site/app's CSS specific rules are setup. Note that you could
   do exactly the same using less by adding a '@import "app.less";' at the end of
   css/less/bootstrap.less file.

   ========================================================================== */

body {
    background-color: #525252;
}

#container {
    background:url(../img/background.jpg);
    min-width: 940px;
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat no-repeat;
}

#center-lane {
    position: relative;
    width:940px;
    margin: 0 auto;
}

#header {
    height: 150px;
    width: 100%;
}

#upload-form-container {
    position: relative;
    width:940px;
    background-color: #a19f9f;
    margin: 0px auto 0;
    padding: 25px 0;
}

#upload-form {
    width: 880px;
    position: relative;
    margin: 0 auto;
    background-color: #828282;
}

#upload-form form, .legal-page {
    background: url(../img/form-bg.jpg);
    background-repeat: no-repeat no-repeat;
    padding-bottom: 25px;
}

#unsigned-artists {
    position: absolute;
    top: -20px;
    z-index: 100;
    left: -15px;
}

#copy, #copy p {
font-size: 24px;
color: white;
text-shadow: black 2px 2px 3px;
width: 600px;
display: block;
line-height: 28px;
padding-top: 50px;
padding-left: 30px;
}

#copy p {
    padding-top: 10px;
}

h1 {
font-size: 40px;
color: white;
text-shadow: black 2px 2px 3px;
display: block;
line-height: 28px;
padding-top: 50px;
padding-left: 30px;
}

#form-fields {
margin-left: 30px;
background-color: #dbdbdb;
width: 530px;
margin-top:15px;
padding:20px;
}


#legal-text {
margin: 30px 5px 15px;
background-color: #dddddd;
color: #666666;
padding: 15px;
overflow: auto;
height: 200px;
}

#legal-text p {
margin: 0px;
}

.legal-check {
width: 100%;
color: #FFF;
text-shadow: black 1px 1px 2px;
text-align: center;
}

.song {
 display: none; 
 margin-top: 30px;
}

input.submit {
margin: 0 auto;
width: 200px;
display: block;
color: #000;
background-color: hsl(201, 0%, 83%) !important;
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc", endColorstr="#d3d3d3");
background-image: -khtml-gradient(linear, left top, left bottom, from(#fcfcfc), to(#d3d3d3));
background-image: -moz-linear-gradient(top, #fcfcfc, #d3d3d3);
background-image: -ms-linear-gradient(top, #fcfcfc, #d3d3d3);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #d3d3d3));
background-image: -webkit-linear-gradient(top, #fcfcfc, #d3d3d3);
background-image: -o-linear-gradient(top, #fcfcfc, #d3d3d3);
background-image: linear-gradient(#fcfcfc, #d3d3d3);
border-color: #000; 
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.26);
-webkit-font-smoothing: antialiased;
}

input.submit.disabled {
  background-color: hsl(201, 0%, 89%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2e2e2", endColorstr="#e2e2e2");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e2e2e2), to(#e2e2e2));
  background-image: -moz-linear-gradient(top, #e2e2e2, #e2e2e2);
  background-image: -ms-linear-gradient(top, #e2e2e2, #e2e2e2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e2e2), color-stop(100%, #e2e2e2));
  background-image: -webkit-linear-gradient(top, #e2e2e2, #e2e2e2);
  background-image: -o-linear-gradient(top, #e2e2e2, #e2e2e2);
  background-image: linear-gradient(#e2e2e2, #e2e2e2);
  border-color: #e2e2e2 #e2e2e2 hsl(201, 0%, 89%);
  color: #888; 
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
  -webkit-font-smoothing: antialiased;
}
#upload-form form {
    margin:0px;
}

.wide {
width: 100%;
}

.errorlist li {
list-style: square;
}

.lyrics {
display:none;
width: 100%;
}

.lyrics-reveal {
width:100%;
text-align: right;
display: block;
}

.errorlist {
color: #bf1515;
font-weight: 800;
}

 .legal-page h3, .legal-page h5 {
  color: white;
}

.legal-page {
    color:white;
    padding: 20px;
    min-height:500px;
}

.iphone-block {
width: 300px;
height:500px;
float: right;
}
