{% extends "base.html" %}

{% block page_class %}home-page{% endblock %}
{% block content %}
<div id="center-lane">
    <div id="unsigned-artists">
        <img src="{{ STATIC_URL }}img/unsigned-artists.png" alt="" />
    </div>
<div id="upload-form-container">
<div id="upload-form">
<form action="/" method="post">
<span id="copy">
Please upload your music.Please upload your music.Please upload your music.Please upload your music.Please upload your music.Please upload your music.Please upload your music.Please upload your music.
</span>
    {% csrf_token %}
    <div id="form-fields">
    {{ band_form.as_p }}
    {{ song_form.as_p }}
    {% for song_form in song_forms %}
        <a class="song-reveal">Add another song? <span class="add-click">+<span></a>
        <div class="song">
        {{ song_form.as_p }}
        </div>
    {% endfor %}
    </div>
    <div id="legal-text">

<p>Now the legal stuff.....
<p>By clicking the upload button you agree to our full terms of service and understand that we will use your music to be broadcast through our mobile phone and web applications. Also, by clicking the upload button you are stating that you are authorized and have permission by your bandmembers to upload your music, album art and band information. Once you click the upload button, you agree that we are able to use your music and album art to promote the growth of our applications and, in turn, agree to nationwide publicity with the possibility of millions of new fans and touring contracts.  We will not sell or own the licensing of your music or album artwork, however, we are entitled to play your music and display your artwork in exchange for advertising and promotional purposes. 
<p>FOR FULL TERMS OF SERVICE CLICK HERE.

    </div>
    <input type="submit" value="Submit" />

</form>
</div>
</div>
</div>
{% endblock %}
