{% extends "base.html" %}
{% block page_class %}thanks-page{% endblock %}
{% block content %}
<div id="center-lane">
<div id="upload-form-container">
<div id="upload-form">
<div class="legal-page">
<div class="iphone-block"></div>
<h1>Thanks, Columbus!</h1>
<span id="copy">
    <p>Thank you for submitting your music to cannon.fm!
    <p>This is just the beginning. As we continue to grow, entering more and more great local music markets all around the country, your music will be exposed to more people than ever before.
    <p>But remember: While we're currently working our asses off to get as many people exposed to your music as possible, we need your help! Tell your fans, friends, family, lovers, enemies, and pets all to visit www.cannon.fm and sign up!
    <p>Thanks again, and we'll see you on cannon.fm!

    <p class="tagline"><i>"cannon.fm - Launch Your Scene!"</i></span>
</div>
</div>
</div>
</div>
{% endblock %}
